

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'sans-regular';
  src: url('./Fonts/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'sans-medium';
  src: url('./Fonts/DMSans-Medium.ttf');
}


@font-face {
  font-family: 'sans-bold';
  src: url('./Fonts/DMSans-Bold.ttf');
}

@layer components {
  .btn {
    @apply p-2 px-6 font-regular text-white rounded-md  bg-primary-light
  }
}