

@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'sans-regular';
  src: url('./Fonts/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'sans-medium';
  src: url('./Fonts/DMSans-Medium.ttf');
}


@font-face {
  font-family: 'sans-bold';
  src: url('./Fonts/DMSans-Bold.ttf');
}